.submitButton{
  font-size: 1em;
  width: 100%;
  color: rgba(174,0,0,0.9);
  border-color: rgba(174,0,0,0.9);
  align-items: center;
  text-align: center;
  margin-bottom: 7px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
}

.submitButton:hover{
  font-size: 1em;
  color: white;
  border-color: rgba(174,0,0,0.9);
  background-color: rgba(174,0,0,0.9);
}

.submitButton:focus{
  font-size: 1em;
  color: white;
  border-color: rgba(174,0,0,0.9);
  background-color: rgba(174,0,0,0.9);
}

.submitButton:active{
  font-size: 1em;
  color: white;
  border-color: rgba(174,0,0,0.9) !important;
  background-color: rgba(174,0,0,0.9) !important;
}