.customCard{

  background-color: #F8F8F8;

}

.cardTitle{
  font-size: 18px;

}

.cardText{
  font-size: 11px;

}

.cardImage{


   //object-fit: cover;
   //height: 100px;
}

.cardButton{
   font-size: 12px;
  color: rgba(174,0,0,0.9);
  border-color: rgba(174,0,0,0.9);
}

.cardBadge{
  font-size: 10px;

}

.carousel-indicators li {
  width: 10px;
  border: 1px solid transparent;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 10px;
background-color: rgba(169, 29, 42, 0.4);
height: 10px;
width: 20px;

}