.customCard{

 //background-color: #F8F8F8;
  border-radius: 10px;
}

.cardTitle{
  font-size: 18px;
  margin-bottom: 6px;
}

.cardSubTitle{
  font-size: 11px;
  margin-bottom: 6px;
  color: gray;
  vertical-align: middle;

}

.cardText{
  font-size: 11px;
  margin-bottom: 2px;

}

.cardImage{
  border-radius: 10px;
  object-fit: cover;
  height: 155px;
}

.cardButton{

  font-size: 12px;
  width: 100%;
  color: rgba(174,0,0,0.9);
  border-color: rgba(174,0,0,0.9);

}

.cardButton:hover{
  font-size: 12px;
  color: white;
  border-color: rgba(174,0,0,0.9);
  background-color: rgba(174,0,0,0.9);
}
.cardButton:focus{
  font-size: 12px;
  color: white;
  border-color: rgba(174,0,0,0.9);
  background-color: rgba(174,0,0,0.9);
}


.cardBadgeContainer{
  margin-bottom: 10px;
}

.cardBadge{
  font-size: 10px;
  margin-top: 0px;

}

.carousel {
  margin: 1.5rem;

}
.carousel-inner {

}

.carousel-control-prev {
 margin-left: -30px;
  margin-top: 190px;
  //background-color: gray;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 3px;
}

.carousel-control-next {
  margin-right: -30px;
  margin-top: 190px;
  //background-color: gray;
  width: 25px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 3px;
}

.icon{
  vertical-align: text-bottom;
}



.badgeTitle{
  background-color: #ddca63 !important;
  color: white;
  font-size: 11px;
  vertical-align: text-top;
}